

:root {
    --body-f: rgb(56, 64, 71);
    /*-------------------------------*/
    --top-h-bg: #f8f8f8;
    --top-h-c: rgb(56, 64, 71);
    /*-------------------------------*/
    --theme-color: #fbb040;
    --f-theme: #fff;
    --lgt-theme: #fefafb;
    --grad: linear-gradient(131deg, #f676af, #f06da7, #f9328a, #f92f88);
    /*-------------------------------*/
    --footer-c: #fff;
    --footer-bg: #404040;
    /*-------------------------------*/
    --main-h-bg: #fff;
    --main-h-c: #000;
    /*-------------------------------*/
    --black: #000;
    --white: #fff;
    --white-smoke: #f7f7f7;
    /*-------------------------------*/
    --l-grey: #eff0f5;
    --grey: #767676;
    --d-grey: rgb(56, 64, 71);
    /*-------------------------------*/
    --l-blue: #27aae1;
    --blue: #2680eb;
    --d-blue: blue;
    /*-------------------------------*/
    --l-purple: #6610f2;
    --purple: #6f42c1;
    --d-purple: #6610f2;
    /*-------------------------------*/
    --l-pink: #fedeec;
    --pink: #fedeec;
    --d-pink: #fedeec;
    /*-------------------------------*/
    --l-red: #dc3545;
    --red: #dc3545;
    --d-red: #dc3545;
    /*-------------------------------*/
    --l-orange: #fd7e14;
    --orange: #fd7e14;
    --d-orange: #fd7e14;
    /*-------------------------------*/
    --l-yellow: #fffade;
    --yellow: #fbb040;
    --d-yellow: #fbb040;
    /*-------------------------------*/
    --d-green: green;
    --green: #28a745;
    --l-green: #20c997;
    --c-green: #17a2b8;
    /*-------------------------------*/
    --fonts: 'Poppins', sans-serif;

    /*-------------------------------*/
    --l-bold: 300;
    --m-bold: 400;
    --s-bold: 600;
    --e-bold: 700;
    /*-------------------------------*/
}
