/*------------------------------------------------------------------TOP HEADER-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.aspNetDisabled {
    color: var(--f-theme) !important;
    background-color: var(--theme-color) !important;
}

#AutoCompleteEx_completionListElem {
    border: solid 1px #eee !important;
    z-index: 10001 !important;
    position: fixed !important
}

    #AutoCompleteEx_completionListElem li {
        font-size: 11px;
        border-bottom: solid 1px #eee !important;
        font-weight: 300 !important;
    }

        #AutoCompleteEx_completionListElem li:hover,
        #AutoCompleteEx_completionListElem li a:hover {
            background-color: var(--theme-color) !important;
            color: var(--f-theme) !important;
        }

.donation input[type="text"] {
    color: var(--grey) !important;
    border: solid 1px #ccc !important;
    border-radius: 20px !important;
    padding: 15px !important;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100011;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

    .loading i {
        position: fixed;
        top: 50%;
        right: 50%;
        color: white;
    }

.p-unlike {
    background: url('../Images/b-unlike.png');
    background-size: auto;
    height: 25px;
    width: 35px;
    background-size: 16px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    background-repeat: no-repeat;
    text-align: right;
    padding: 4px;
    background-position: center left;
}

.p-like {
    background: url('../Images/b-like.png');
    background-size: auto;
    height: 25px;
    width: 35px;
    background-size: 16px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    background-repeat: no-repeat;
    text-align: right;
    padding: 4px;
    background-position: center left;
}

    .p-unlike span,
    .p-like spna {
        font-size: 12px !important;
    }

.donate .nav-tabs {
    border: none !important;
}

    .donate .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: var(--theme-color);
        color: var(--f-theme);
        border-radius: 13px 13px 0px 0px;
    }

.top-header {
    background-color: var(--top-h-bg);
    color: var(--top-h-c);
    font-size: 13px;
}

    .top-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    }

    .top-header .pull-left li {
        float: left;
    }

    .top-header a {
        color: var(--top-h-c);
        padding: 8px;
        display: inline-block;
        text-decoration: none;
    }

        .top-header a:hover {
            color: var(--grey);
        }

    .top-header .pull-right li {
        float: left;
    }

    .top-header i {
        color: var(--grey);
        margin-right: .5rem;
    }

    .top-header .pull-right li img {
        height: 18px;
    }

.header-links li {
    display: inline-block;
    float: left;
}

.notify {
    border-radius: 10px;
    text-align: center;
    color: var(--f-theme);
    font-size: 9px;
    background: var(--theme-color);
    padding: 1px 6px;
    position: absolute;
    margin-left: -12px;
    margin-top: -5px;
}

    .notify:empty {
        display: none;
    }

.top-header .header-links a {
    padding-left: 0px;
}

.t-icons {
    padding: 9px 5px;
}

    .t-icons a {
        color: var(--d-grey);
        font-size: 13px;
    }

    .t-icons img {
        height: 25px;
        vertical-align: text-bottom;
    }

/*----------Mobile Css-------------*/

@media screen and (max-width: 768px) {
    .top-header .header-links {
        display: none;
    }

    .top-header i {
        display: none;
    }

    .top-header .pull-right {
        float: left !important
    }

    .t-icons img {
        height: 25px;
        vertical-align: text-bottom;
        margin: 5px;
    }

    .t-icons {
        padding: 5px 5px;
        text-align: center !important
    }

    .top-header a {
        display: block;
    }

    #demo {
        position: fixed;
        top: 114px;
        z-index: 1000;
        width: 100%;
    }

    .top-header .pull-right li {
        float: initial !important;
    }

    .sub-header .dropdown-menu > li > a {
        display: inline-block;
        width: 80%;
    }

    .sub-header .dropdown-menu > li > span > i {
        margin-right: 10px;
    }

    .t-icons .dropdown-menu {
        left: -80px;
    }

    .btn-lg {
        padding: 6px 9px;
    }
}

/*------------------------------------------------------------------MAIN HEADER-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main-header {
    background-color: var(--main-h-bg);
    color: var(--main-h-c);
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 10000;
    transition: all 1s;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

    .main-header .logo {
        width: 100%;
        display: flex;
        align-items: center;
        height: 50px;
    }

        .main-header .logo img {
            max-width: 100%;
            max-height: 50px;
        }

.searchform {
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    width: 90%;
    display: table;
    margin-top: 6px;
}

    .searchform input {
        background: #fefefe;
        border: none;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: medium;
        margin-right: 2px;
        padding: 7px;
        width: 59.5%;
        border-radius: 0px;
        border-right: 1px solid #d3d3d3;
        float: left;
    }

    .searchform select {
        background: var(--l-grey);
        border: none;
        margin-right: 2px;
        padding: 6px;
        border-radius: 4px 0px 0px 4px;
        color: var(--d-grey);
        float: left;
        width: 30.5%;
    }

    .searchform img {
        width: 33px;
    }

    .searchform a {
        background-color: var(--theme-color);
        border: 1px solid var(--theme-color) !important;
        cursor: pointer;
        width: 9.8%;
        display: inline-block;
        float: left;
        text-align: center;
        margin: 0px -2px
    }

        .searchform a:hover {
            background-color: var(--theme-color);
            border: 1px solid var(--theme-color) !important;
            color: var(--theme-color);
        }

/*----------Mobile Css-------------*/

@media screen and (max-width: 768px) {
    .main-header {
        padding: 0px;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        .main-header .logo {
            height: 40px;
        }

            .main-header .logo img {
                max-width: 130px;
                padding: 5px;
            }

        .main-header .navbar-toggle {
            padding: 0px;
            float: initial;
        }

            .main-header .navbar-toggle i,
            .main-header .navbar-toggle span {
                margin: 6px 10px;
                color: var(--f-theme);
            }

    .searchform {
        background: #fff;
        border: 1px solid #f1f1f1;
        border-radius: 0px;
        padding: 0px;
        margin: 2px 20px;
    }

        .searchform input {
            background: #fefefe;
            border: none;
            margin-right: 2px;
            padding: 7px;
            width: 100%;
            border-radius: 0px;
            border-right: 1px solid #d3d3d3;
        }

        .searchform select {
            background: #fefefe;
            border: none;
            margin-right: 2px;
            padding: 6px;
            display: none;
        }

        .searchform img {
            width: 33px;
        }

        .searchform a {
            width: 20.8%;
        }

        .searchform input {
            width: 79%;
        }
}

/*------------------------------------------------------------------multi level dropdown-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.c-product {
    height: 600px;
    overflow: hidden;
}

.p-status {
    height: 245px;
    overflow: hidden;
}

.category {
    padding: 15px;
    display: block;
    width: 220px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-color: var(--theme-color);
}

    .category:hover {
        color: white;
    }

.homepage .dropdown-menu {
    border-radius: 0px;
    margin: 0px;
    width: 220px;
    padding: 0px;
    box-shadow: none;
}

    .homepage .dropdown-menu li {
        display: block;
    }

.t-icons .dropdown-menu {
    text-align: left !important;
}

.mega-dropdown {
    min-width: 950px;
    min-height: 400px;
    box-shadow: none;
    border-radius: 0px;
    border: solid 1px #eee;
    position: absolute;
    background: white;
    left: 219px;
    padding: 15px;
    top: 0px;
}

.h-c-banner {
    float: right;
    height: 361px;
    object-position: center;
    object-fit: cover;
    width: 140px;
}

.cat0 {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
}

.cat1 {
    color: var(--d-grey);
    margin-left: 0px;
}

.cat2 {
    color: var(--grey);
    margin-left: 10px;
}

.d-hover {
    display: inline-block;
}

.d-hover-content {
    display: none;
}

.d-hover:hover .d-hover-content {
    display: block;
}

.c-banner img {
    width: 100%;
    height: 600px;
    object-position: top center;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .h-c-banner {
        display: none;
    }

    .c-product {
        height: auto;
        overflow: initial;
    }

    .p-status {
        height: auto;
        overflow: initial;
    }

    .category {
        width: 100%;
        background: var(--theme-color);
        color: var(--f-theme);
    }

    .homepage .dropdown-menu {
        width: 100%;
        display: block !important;
    }

    .mega-dropdown {
        min-width: 0px;
        min-height: 0px;
        box-shadow: none;
        border-radius: 0px;
        border: none;
        position: initial;
        background: white;
        left: 0px;
        padding: 5px 20px;
        top: 0px;
    }

    .d-hover-content {
        display: block;
    }
}

/*------------------------------------------------------------------Search page-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.list-view-button,
.grid-view-button {
    cursor: pointer
}

.grid-view-filter li {
    list-style: none;
}

.list-view-filter li {
    width: 100% !important;
    list-style: none;
}

.btn-small {
    padding: 2px 10px;
}
/*------------------------------------------------------------------Other-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.alert-dismissible:empty button {
    display: none;
}

.slider {
    padding-left: 25px !important;
    padding: 0px;
}

    .slider img {
        width: 100%;
        height: 400px;
    }

.m-block {
    display: none;
}

.cart img {
    height: 50px;
    max-width: 100%;
}

#AutoCompleteEx_completionListElem li {
    padding: 5px !important;
}

.number span {
    cursor: pointer;
}

.minus, .plus {
    width: 30px;
    height: 30px;
    background: #f2f2f2;
    border-radius: 100%;
    padding: 4px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.number input {
    height: 30px;
    width: 51px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .main-header .col-md-3 {
        position: initial !important
    }

    .cart img {
        height: 25px;
        max-width: 100%;
    }

    .m-block {
        display: initial;
    }

    .m-none {
        display: none !important;
    }

    .slider {
        padding-left: 0px !important;
        padding: 0px;
    }

        .slider img {
            width: 100%;
            height: 150px;
        }

    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s;
    }

        .side-collapse-container.out {
            left: 200px;
        }

    .side-collapse {
        top: 0px;
        bottom: 0;
        left: 0;
        width: 100%;
        position: fixed;
        overflow-y: auto;
        transition: width .4s;
        box-shadow: 4px 4px 5px rgba(77, 77, 77, 0.2) !important;
        -webkit-box-shadow: 4px 4px 5px rgba(77, 77, 77, 0.2) !important;
        -moz-box-shadow: 4px 4px 5px rgba(77, 77, 77, 0.2) !important;
        background: #fff;
        z-index: 10003;
    }

        /*.sub-header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }*/

        .side-collapse.in {
            width: 0;
        }

    .navbar {
        min-height: auto !important;
    }

    .m-deals {
        border-color: var(--d-grey);
        position: fixed;
        background: var(--d-grey);
        width: 100%;
        padding: 10px;
        overflow: hidden;
        top: 114px;
    }

    .collapse {
        display: none !important;
    }

    body {
        padding-top: 115px;
    }

    .modal-dialog {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 22%;
    }
}

.c-badge {
    width: 50px;
    max-height: 50px;
    position: absolute;
    color: white;
    right: 10px;
    top: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
}

/*.c-badge:empty{
        display:none;
    }*/

.home .brand {
    background: white;
    padding: 5px;
    height: 80px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .home .brand img {
        max-width: 100%;
        max-height: 70px;
    }

.search .brand {
    background: white;
    padding: 5px;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .search .brand img {
        max-width: 100%;
        max-height: 40px;
    }

.d-new .col-lg-2,
.d-new .col-md-3,
.d-new .col-sm-4,
.d-new .col-xs-6 {
    width: 100%;
    border-bottom: 1px #eee solid
}

.d-new .d-new-head {
    background: var(--white-smoke) !important;
    font-size: 14px !important;
    margin: 0px !important;
    padding: 10px !important;
}