:root {
    --body-f: rgb(56, 64, 71);
    /*-------------------------------*/
    --top-h-bg: #f4f4f7;
    --top-h-c: rgb(56, 64, 71);
    /*-------------------------------*/
    --theme-color: #ff6801;
    --f-theme: #fff;
    --lgt-theme: #078247;
    --grad: linear-gradient(131deg, #f676af, #f06da7, #f9328a, #f92f88);
    /*-------------------------------*/
    --footer-c: #fff;
    --footer-bg: #404040;
    /*-------------------------------*/
    --main-h-bg: #fff;
    --main-h-c: #000;
    /*-------------------------------*/
    --black: #000;
    --white: #fff;
    --white-smoke: #f4f4f7;
    /*-------------------------------*/
    --l-grey: #eff0f5;
    --grey: #767676;
    --d-grey: #333;
    /*-------------------------------*/
    --l-blue: #27aae1;
    --blue: #2680eb;
    --d-blue: blue;
    /*-------------------------------*/
    --l-purple: #cdb3fa;
    --purple: #6f42c1;
    --d-purple: #6610f2;
    /*-------------------------------*/
    --l-pink: #fedeec;
    --pink: #fb59a0;
    --d-pink: #fa0570;
    /*-------------------------------*/
    --l-red: #dc3545;
    --red: #dc3545;
    --d-red: #dc3545;
    /*-------------------------------*/
    --l-orange: #fd7e14;
    --orange: #fd7e14;
    --d-orange: #fd7e14;
    /*-------------------------------*/
    --l-yellow: #fbb040;
    --yellow: #fbb040;
    --d-yellow: #fbb040;
    /*-------------------------------*/
    --d-green: green;
    --green: #28a745;
    --l-green: #99cc00;
    --c-green: #17a2b8;
    /*-------------------------------*/
    --h-fonts: 'Poppins', sans-serif;
    --fonts: Verdana,Tahoma,Arial;
    --i-fonts: 'Courgette', cursive;
    /*-------------------------------*/
    --l-bold: 300;
    --m-bold: 400;
    --s-bold: 500;
    --e-bold: 700;
    /*-------------------------------*/
}