
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-family: var(--fonts) !important;
    color: var(--body-f) !important;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    max-width: 110px !important;
    display: inline-block;
}

.w-100{
    width:100% !important;
    display:block;
}

.wide-border{
    height:20px;
}

.sticky {
    position: sticky;
    top: 55px;
    z-index: 1000;
    background: whitesmoke;
}


/*-----------------------------------------------------------headings-----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonts) !important;
}
@media screen and (max-width: 768px) {
    h1,
    .h1 {
        font-size: 30px;
    }

    h2,
    .h2 {
        font-size: 25px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 14px;
    }

    h6,
    .h6 {
        font-size: 12px;
    }
}


/*-----------------------------------------------------------Fonts name-----------------------------------------------------------*/


.i-fonts{
    font-family: var(--i-fonts) !important;
}


.h-fonts{
    font-family: var(--h-fonts) !important;
}

.fonts{
    font-family: var(--fonts) !important;
}



/*-----------------------------------------------------------Fonts wieght-----------------------------------------------------------*/

.l-bold {
    font-weight: var(--l-bold) !important;
}

.s-bold {
    font-weight: var(--s-bold) !important;
}


.m-bold {
    font-weight: var(--m-bold) !important;
}

.bold{
    font-weight:bold !important;
}


.e-bold {
    font-weight: var(--e-bold) !important;
}



/*-----------------------------------------------------------Fonts size-----------------------------------------------------------*/

.small{
    font-size:11px !important;
}

.medium{
    font-size :14px !important;
}

.large{
    font-size:18px !important
}

/*-----------------------------------------------------------paddings-----------------------------------------------------------*/

.no-padding {
    padding: 0px !important;
}

.padding5 {
    padding: 5px !important;
}

.padding10 {
    padding: 10px !important;
}

.padding15 {
    padding: 15px !important;
}

.paddingtb {
    padding: 5% 0px;
}

.paddingtb-15 {
    padding: 15px 0px;
}

.paddingrf-15 {
    padding: 0px 15px;
}

@media screen and (max-width: 768px) {

    .o-padding {
    padding: 0px !important;
}

    .padding15 {
    padding: 5px !important;
}

    .paddingtb {
    padding: 2% 0px;
}

    .paddingtb-15 {
    padding: 5px 0px;
}

.paddingrf-15 {
    padding: 0px 5px;
}


}


/*-----------------------------------------------------------margins-----------------------------------------------------------*/


.no-margin {
    margin: 0px !important;
}

.margin5 {
    margin: 5px !important;
}

.margin10 {
    margin: 10px !important;
}

.margin15 {
    margin: 15px !important;
}

.margintb {
    margin: 5% 0px;
}

.margintb-15 {
    margin: 15px 0px;
}

.marginrf-15 {
    margin: 0px 15px;
}

@media screen and (max-width: 768px) {

    .o-margin {
    margin: 0px !important;
}

    .pmargin15 {
    margin: 5px !important;
}

    .margintb {
    margin: 2% 0px !important;
}

    .margintb-15 {
    margin: 5px 0px !important;
}

.marginrf-15 {
    margin: 0px 5px !important;
}


}


/*-----------------------------------------------------------shadow-----------------------------------------------------------*/



.shadow {
    webkit-box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
}

.shadow-t {
    box-shadow: 0px -8px 6px -10px #CCC !important;
}

.shadow-b {
    box-shadow: 0px 8px 6px -10px #CCC !important;
}

.text-shadow {
    text-shadow: 1px 1px #ccc !important;
}

.c-shadow {
    box-shadow: 0px 1px 7px -4px var(--lgt-theme) !important;
}


/*-----------------------------------------------------------line height-----------------------------------------------------------*/

.line20 {
    line-height: 20px !important;
}

.line30 {
    line-height: 30px !important;
}


/*-----------------------------------------------------------text transform-----------------------------------------------------------*/

.upp {
    text-transform: uppercase !important;
}

.cap {
    text-transform: capitalize !important;
}

/*-----------------------------------------------------------radius-----------------------------------------------------------*/



.radius{
    border-radius:4px !important;
}

.radius100{
    border-radius:100% !important;
}

.radius-r{
    border-radius:4px 0px 0px 4px !important;
}

.radius-f{
    border-radius:0px 4px 4px 0px !important;
}



/*-----------------------------------------------------------aligns-----------------------------------------------------------*/


.center {
    text-align: center !important;
}


.right {
    text-align: right !important;
}


.left {
    text-align: left !important;
}


.justify {
    text-align: justify !important;
}


/*-----------------------------------------------------------box-center-----------------------------------------------------------*/




.box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-middle {
    display: flex;
    align-items: center;
}


.form-center {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 768px) {

     .box-center {
        display: initial !important;
        align-items: center;
        justify-content: center;
    }


}


/*-----------------------------------------------------------footer-----------------------------------------------------------*/


footer {
    background-color: var(--footer-bg);
    padding-top: 50px;
    clear: both;
    width: 100%;
    color: var(--footer-c);
    
}


footer h5{
    font-weight:bold;
    font-size:18px;
}

footer ul {
    
    padding: 0px;
    margin-bottom:30px;
    display: inline-block;
    width: 300px;
}

footer ul > li {
    list-style: none;
}

footer ul > li a {
color: var(--footer-c);
font-size: 13px;
font-weight: 300;
}

    footer ul > li a:hover {
        color: var(--theme-color);

    }

    footer p{
     padding:0px;
     margin:0px;
        color: var(--footer-c);
    }

    footer .links{
        -webkit-columns: 4;
columns: 4;
-webkit-column-fill: balance;
column-fill: balance;
-webkit-column-gap: 1em;
column-gap: 0em;
    }


@media screen and (max-width: 768px) {

    footer h5 {
        font-weight: bold;
        font-size: 14px;
    }

    footer {
        padding: 10px;
        margin-top: 1px;
    }

        footer ul {
            margin-bottom: 10px;
            width: 130px;
        }

        footer .links {
            -webkit-columns: 2;
            columns: 2;
        }
}

/*-----------------------------------------------------------Confirmation-----------------------------------------------------------*/

.confirmation {
    padding: 30px;
    text-align: center;
    border-radius: 6px;
    width: 35%;
    margin: 8% auto;
}

    .confirmation img {
        width: 130px;
    }
 .confirmation i {
            font-size: 30px;
            color:var(--theme-color)
        }
    .confirmation h1 {
        font-size: 25px;
        font-weight: bold;
    }

    .confirmation p {
        padding: 10px;
        color: var(--grey);
    }





@media screen and (max-width: 768px) {
    .confirmation {
        width: 100%;
        background: #fff;
        margin: 0px;
    }

        .confirmation h1 {
            font-size: 18px;
        }

       

        .confirmation img {
            width: 70px;
        }

        .confirmation p {
            padding: 0px;
        }
}




/*-----------------------------------------------------------file-upload-----------------------------------------------------------*/



.file-upload { /*! height: 2.3em; */
}

    .file-upload, .file-upload span { /*width: 12.5em;*/
    }

        .file-upload input {
            /*position: absolute;*/
            top: 0;
            left: 0;
            margin: 0;
            font-size: 17px;
            opacity: 0;
            filter: alpha(opacity=0);
            display: none !important;
        }

        .file-upload strong {
            font: normal 12px Tahoma,sans-serif;
            text-align: center;
            vertical-align: middle;
        }
      

            .file-upload span::before {
                content: " ";
            }

   


/*-----------------------------------------------------------or div-----------------------------------------------------------*/


.or-div{
    height: 11px;
    margin: 15px 0;
    text-align: center;
    border-bottom: 1px solid #e4e5e7;
}


.or-div span{

    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
    background-color: #fff;
    color: var(--grey);

}




/*-----------------------------------------------------------validation-----------------------------------------------------------*/


.required {
    color: #e50016 !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 0px 4px;
    background: #fff;
    border: 1px solid #e7e6e6;
    box-shadow: 2px 2px 3px #dce8de;
    position: relative;
}



    .required:after, .required:before {
        bottom: 100%;
        left: 3%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .required:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: 5px;
    }

    .required:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #e7e6e6;
        border-width: 8px;
        margin-left: 3px;
    }


    .required:empty{
        display:none;
    }

    .alert:empty{
        display:none;
    }

    /*----------------------------------------------------------------forms----------------------------------------------------------*/



.form .tagsinput, .form input[type="email"], .form input[type="text"], .form input[type="password"], .form input[type="number"],  .form input[type="date"], .form input[type="time"], .form select {
    background-color: var(--white);
    border: 1px solid #d8d6d6;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
}

.form input[type="submit"], .form input[type="button"] {
    background-color: var(--theme-color);
    border: solid 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1;
    padding: 17px 20px;
    transition: all 0.3s ease 0s;
    color: var(--f-theme);

    font-weight:bold;
}

    .form .form-group .input-group input {
        border-radius: 0px 5px 5px 0px !important;
    }


    .form a {
        color: var(--theme-color);
    }

.form textarea {
    background-color: var(--white);
    border: 1px solid #d8d6d6;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
}


.form .note-editor.note-frame {
    border: 1px solid var(--l-grey) !important;
}

.form .note-editable {
    height: 300px;
}


    .form .input-group{
        border: 1px solid var(--l-grey);
        border-radius: 5px;
        padding:1px;
    }


    .form .input-group input{
        border:transparent;
    }

    .form .input-group-addon{
        background:transparent;
        border:transparent;
    }



    
/*--------------------------------------------------2 textbox in one line-------------------------------------------------*/

      .textbox-2{
        display: inline-block;
width: 100%;
    }

    .textbox-2 .form-group{
        width:47.8%;
        float: left;
    }


     .textbox-2 .form-group:first-child{
         margin-right:10px;
     }


     /*--------------------------------------------------3 textbox in one line-------------------------------------------------*/

      .textbox-3{
        display: inline-block;
width: 100%;
    }

    .textbox-3 .form-group{
        width:31.8%;
        float: left;
    }


     .textbox-3 .form-group:first-child{
         margin-right:10px;
     }


        .textbox-3 .form-group:last-child{
         margin-left:10px;
     }





/*---------------------all bgs----------------------------*/

.no-bg {
    background: none !important;
}

.grad-bg {
    background: var(--grad) !important;
}


.lgt-theme-bg {
    background: var(--lgt-theme) !important;
}

.theme-bg {
    background: var(--theme-color) !important;
}


.black-bg {
    background: var(--black) !important;
}

.white-bg {
    background: var(--white) !important;
}

.white-smoke-bg {
    background: var(--white-smoke) !important;
}

.l-grey-bg {
    background: var(--l-grey) !important;
}

.grey-bg {
    background: var(--grey) !important;
}

.d-grey-bg {
    background: var(--d-grey) !important;
}

.l-blue-bg {
    background: var(--l-blue) !important;
}

.blue-bg {
    background: var(--blue) !important;
}

.d-blue-bg {
    background: var(--d-blue) !important;
}

.l-purple-bg {
    background: var(--l-purple) !important;
}

.purple-bg {
    background: var(--purple) !important;
}

.d-purple-bg {
    background: var(--d-purple) !important;
}

.l-pink-bg {
    background: var(--l-pink) !important;
}

.pink-bg {
    background: var(--pink) !important;
}

.d-pink-bg {
    background: var(--d-pink) !important;
}


.l-red-bg {
    background: var(--l-red) !important;
}

.red-bg {
    background: var(--red) !important;
}

.d-red-bg {
    background: var(--d-red) !important;
}


.lorange-bg {
    background: var(--l-orange) !important;
}

.orange-bg {
    background: var(--orange) !important;
}

.d-orange-bg {
    background: var(--d-orange) !important;
}


.l-yellow-bg {
    background: var(--l-yellow) !important;
}
.yellow-bg {
    background: var(--yellow) !important;
}

.d-yellow-bg {
    background: var(--d-yellow) !important;
}


.d-green-bg {
    background: var(--d-green) !important;
}

.green-bg {
    background: var(--green) !important;
}

.l-green-bg {
    background: var(--l-green) !important;
}

.c-green-bg {
    background: var(--c-green) !important;
}



/*------------------------------------------all borders----------------------------------------------*/


.border {
    border: solid 1px #eee;
}

.no-border {
    border: none !important;
}



.theme-bd {
    border-color: var(--theme-color) !important;
}


.black-bd {
    border-color: var(--black) !important;
}

.white-bd {
    border-color: var(--white) !important;
}

.white-smoke-bd {
    border-color: var(--white-smoke) !important;
}

.l-grey-bd {
    border-color: var(--l-grey) !important;
}

.grey-bd {
    border-color: var(--grey) !important;
}

.d-grey-bd {
    border-color: var(--d-grey) !important;
}

.l-blue-bd {
    border-color: var(--l-blue) !important;
}

.blue-bd {
    border-color: var(--blue) !important;
}

.d-purple-bd {
    border-color: var(--d-purple) !important;
}

.purple-bd {
    border-color: var(--purple) !important;
}

.pink-bd {
    border-color: var(--pink) !important;
}

.red-bd {
    border-color: var(--red) !important;
}

.orange-bd {
    border-color: var(--orange) !important;
}


.yellow-bd {
    border-color: var(--yellow) !important;
}

.green-bd {
    border-color: var(--green) !important;
}

.l-green-bd {
    border-color: var(--l-green) !important;
}

.c-green-bd {
    border-color: var(--c-green) !important;
}


/*----------------------------------------------all colors-------------------------------------------------------*/

.theme-c {
    color: var(--theme-color) !important;
}

.lgt-theme-c {
    color: var(--lgt-theme) !important;
}

.black-c {
    color: var(--black) !important;
}

.white-c {
    color: var(--white) !important;
}

.white-smoke-c {
    color: var(--white-smoke) !important;
}

.l-grey-c {
    color: var(--l-grey) !important;
}

.grey-c {
    color: var(--grey) !important;
}

.d-grey-c {
    color: var(--d-grey) !important;
}

.l-blue-c {
    color: var(--l-blue) !important;
}


.blue-c {
    color: var(--blue) !important;
}

.d-purple-c {
    color: var(--d-purple) !important;
}

.purple-c {
    color: var(--purple) !important;
}

.pink-c {
    color: var(--pink) !important;
}

.red-c {
    color: var(--red) !important;
}

.orange-c {
    color: var(--orange) !important;
}


.yellow-c {
    color: var(--yellow) !important;
}

.green-c {
    color: var(--green) !important;
}

.l-green-c {
    color: var(--l-green) !important;
}

.c-green-c {
    color: var(--c-green) !important;
}



/*--------------------------------------------------radio btns-----------------------------------------------------------*/


.radiobtn > table > tbody > tr {
    display: inline-block;
}


    .radiobtn > table > tbody > tr > th {
        background-color: #f9f9f9;
        border-color: #ccc;
    }
.radiobtn > table > tbody > tr > td {
    font-size: 12px;
    /*padding: 5px;*/
    display: inline-table;
    margin-right: 5px;
}


.radiobtn > table a {
    font-size: 12px;
    font-weight: bold;
    /*padding: 5px;*/
}

.radiobtn > table > table {
    width: inherit;
}

.radiobtn input[type="radio"], .radiobtn input[type="checkbox"] {
    position: relative;
}

.radiobtn label {
    border: 1px solid var(--l-grey);
    border-radius: 3px;
    
    padding: 5px 10px;
    font-size: 15px;
    margin-left: -14px;
    background: #fff;
    color: var(--d-grey);
}


.radiobtn input {
    opacity: 0;
}

    .radiobtn input[type="radio"]:checked + label,
    .radiobtn input[type="checkbox"]:checked + label {
        background: var(--d-grey);
        color: white;
    }



    
/*--------------------------------------------------drop down on hover-----------------------------------------------------------*/


    .d-hover {
    position: relative;
    display: inline-block;
}

.d-hover-content {
    display: none;

}

.d-hover:hover .d-hover-content {
    display: block;
}

/*--------------------------------------------------drop down on right-----------------------------------------------------------*/


.d-right{
    left: 100%;

margin: 0px 0px;

top: 0;
}



/*------------------------------------------all borders----------------------------------------------*/


.edit {
    margin: 5px;
    height: 12px;
    display: inline-block;
}

    .edit::after {
        content: '';
        background: url('../Images/editicon.png');
        background-repeat: repeat;
        background-size: auto;
        height: 30px;
        width: 26px;
        /*! float: left; */
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -6px;
    }

.delete {
    margin: 11px;
    height: 28px;
    display: inline-block;
}
    .delete::after {
        content: '';
        background-image: url('../Images/deleteicon.png');
        background-repeat: repeat;
        background-size: auto;
        height: 30px;
        width: 35px;
        float: left;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
    }



/*-----------------------------------------Checkright ----------------------------------------------*/



.checkright input[type=checkbox] + label,
.checkright input[type=radio] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.checkright input[type=checkbox],
.checkright input[type=radio] {
    display: none;
}

    .checkright input[type=checkbox] + label:before,
    .checkright input[type=radio] + label:before {
        content: "\2714";
        border: 0.1em solid #ccc;
        border-radius: 0.2em;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
    }

    .checkright input[type=checkbox] + label:active:before,
    .checkright input[type=radio] + label:active:before {
        transform: scale(0);
    }

    .checkright input[type=checkbox]:checked + label:before,
    .checkright input[type=radio]:checked + label:before {
        background-color: var(--theme-color);
        border-color: var(--theme-color);
        color: #000;
    }

    .checkright input[type=checkbox]:disabled + label:before,
    .checkright input[type=radio]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    .checkright input[type=checkbox]:checked:disabled + label:before,
    .checkright input[type=radio]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }

    
/*------------------------------------------image box----------------------------------------------*/





.img-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-box img {
    max-width: 100%;
 
}


.v-image img {
    max-width: 50px;
    max-height: 50px;
}

/*------------------------------------------heights---------------------------------------------*/

.h-30 {
    height: 33px !important;
    overflow:hidden
}

.h-40 {
    height: 40px !important;
    overflow: hidden
}

.h-155 {
    height: 155px !important;
    overflow: hidden
}

    .h-155 img {
        max-height: 155px !important;
    }

.h-220 {
    height: 214px !important;
    overflow: hidden
}

    .h-220 img {
        max-height: 200px !important;
    }







@media screen and (max-width: 768px) {

    .h-155,
    .h-220 {
        height: 120px !important;
        overflow: hidden
    }

        .h-155 img, .h-220 img {
            max-height: 120px !important;
        }

        .no-form-center{
            display:initial !important;
        }
}
